*{
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR;
}

body{
    background-color: #FAFAFA;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container{
    background-color: #F5F5F5;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.59rem 0 6.23rem;
    gap: 17.38rem
}

.banner-left-container{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: 3.16rem 0 2.27rem;
}

.banner-explain-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.75rem;
}

.banner-button-container{
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
}
.banner-bold-font{
    font-size:2.5rem;
    font-weight:700;
    letter-spacing: -0.075rem;
}
.banner-light-font{
    font-size:1.125rem;
    font-weight: 400;
    letter-spacing: -0.01125rem;
}
.banner-button-orange{
    color:#FFF;
    text-align:center;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.0125rem;
    display: flex;
    background-color: #FCA340;
    border-radius: 1.5rem;
    padding: 0.75rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.community-banner-img{
    width: 25rem;
    height: 16.8rem;
}

.community-container{
    width: 1280px;
    min-height:calc(100vh - 28.94rem);
}

.community-popular-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-popular-container-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.25rem;
}

.community-container-title{
    color : #181818;
    font-size:2.25rem;
    font-weight: 700;
    letter-spacing: -0.03375rem;
    margin-top:4.4rem;
}

.community-popular-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.community-popular-div-text{
   color: #181818;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.01875rem;
}


.community-popular-card-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
    margin-top: 1.5rem;
}

.community-popular-card{
    cursor: pointer;
    border-radius: 0.75rem;
    border: 1px solid #D9D9D9;
    background: #FFF;

    padding: 1.31rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.community-popular-card-category{
    color: #023047;
    font-size: 1rem;
    font-weight: 700;
}

.community-popular-card-contents{
    color: #181818;
    font-size: 0.875rem;
    font-weight: 500;
}

.community-search{
    background-color:#FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-search-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.community-search-title{
    color : #181818;
    font-size:2.25rem;
    font-weight: 700;
    letter-spacing: -0.03375rem;
    margin-top:4.4rem;
    margin-bottom: 3rem;
}
.community-search-category-check{
    cursor: pointer;
    text-align: center;
    color:#FFF;
    font-size:1rem;
    font-weight: 700;
    width:8.75rem;
    height:3rem;
    border-radius: 1.5rem;
    border:1px solid #023047;
    background-color: #023047;
}
.community-search-category-container{
    display: flex;
    gap:0.625rem;
}
.community-search-category{
    cursor: pointer;
    color:#023047;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width:8.75rem;
    height:3rem;
    border:1px solid #D8D8D8;
    background-color: #FFF;
    border-radius: 1.5rem;
}

.community-search-filtering-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
.community-search-community-catecory{
    color:#181818;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    background-color: #FAFAFA;
    width:4.125rem;
    border-radius: 1.5rem;
    padding:0.38rem 1rem;
}
.community-search-filter{
    width:38.429rem;
    height:1.4375rem;
    padding:1.28rem 1.76rem 1.26rem 1.06rem;
    border-radius: 1.5rem;
    border: 1px solid #D9D9D9;
    background-color: #FFF;
}
.community-search-filter::placeholder{
    color:#969696;
    font-size:1rem;
    font-weight: 400;
}

.community-search-communitys-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.community-search-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
}

.community-search-card-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
    margin-top: 4rem;
}

.community-search-card{
    cursor: pointer;
    border-radius: 0.75rem;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 1.35em 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.community-search-card-category{
    color: #181818;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

    width: 3.875rem;
    display: flex;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    background: #FAFAFA;
}

.community-search-card-title{
    margin-top: 0.5rem;
    color: #181818;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.01rem;
}

.community-search-card-contents{
    color: #181818;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01313rem;
}

.community-search-card-info{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.community-search-card-info p {
    color: #5D5D5D;
    font-size: 0.875rem;
    font-weight: 350;
}

.community-search-card-commentinfo{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.page-nation{
    display:flex;
    gap:0.5rem;
}
.page-check, .page{
    width: 3rem;
    height:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:1rem;
    color:#181818;
    margin-top: 4.5rem;
}
.page-check{
    background-color: #FCA340;
}
.page{
    background-color: #FFF;
}