*{
    margin:0;
    padding:0;
    font-family: Noto Sans KR;
}
main{
    background: #FAFAFA;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.mentoring-mentor-info-home{
    width:1280px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.mentoring-mentor-info-container{
    width:1280px;
}
.mentoring-title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:0.75rem;
    margin-top:6.52rem;
    margin-bottom: 4.5rem;
}
.mentoring-title h3{
    color : #181818;
    text-align: center;
    font-size:2.25rem;
    font-weight: 700;
    letter-spacing: -0.03375rem;
}
.mentoring-title p {
    color : #181818;
    text-align: center;
    font-size : 1.125rem;
    font-weight: 400;
    letter-spacing: -0.01688rem;
}
.mentoring-mentor-info-home-bottom{
    display: flex;
    gap:8rem;
}
.mentoring-profile-container{
    width: 22.125rem;
    height: 31.1rem;
    background-color: #FFF;
    border-radius: 1.5rem;
    border: 1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1.88rem;
    gap:1.5rem;
}
.mentor-profile-img{
    width:10rem;
    height:10rem;
}
.mentoring-profile-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.mentoring-profile-job{
    color:#181818;
    font-size:1rem;
    font-weight: 400;
    letter-spacing: -0.015rem;
}
.mentoring-profile-name{
    color:#181818;
    font-size: 2rem;
    font-weight: 700;
}
.mentoring-profile-label-container{
    display:flex;
    align-items: flex-start;
    gap: 0.375rem;
    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
}
.mentoring-profile-label{
    display:flex;
    border-radius: 0.625rem;
    padding: 0.38rem 0.75rem;
    background: #FAFAFA;
    justify-content: center;
    align-items: center;
}
.mentoring-profile-label p {
    color: #5D5D5D;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.01313rem;
}
.mentoring-info-container{
    width: 32.625rem;
}
.mentoring-profile-btn-container{
    display:flex;
    flex-direction: column;
    gap: 0.75rem;
}
.mentoring-profile-orange-btn, .mentoring-profile-white-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.125rem;
    height:2.6875rem;
    border-radius:0.625rem;
    gap:0.62rem;
}
.mentoring-profile-orange-btn{
    color:#FFF;
    background-color: var(--o-110, #FB9119);

}
.mentoring-profile-white-btn{
    color: #969696;
    background-color:#FFF;
    border-radius: 0.625rem;
    border: 1.1px solid #D9D9D9;
}
.mentoring-profile-short-white-btn-container{
    display:flex;
    gap:0.69rem;
}
.mentoring-profile-short-white-btn{
    cursor: pointer;
    color:#969696;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.015rem;
    background-color: #FFF;
    width: 10.6875rem;
    padding:0.625rem 1rem;
    border-radius: 0.625rem;
    border: 1.1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mentoring-info-container{
    width:32.5rem;
    display:flex;
    flex-direction: column;
    gap:2.12rem;
}
.mentoring-field-container, .mentoring-explain{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #D9D9D9;
}
.mentoring-explain-bold{
    color:#181818;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01688rem;
    margin-bottom: 0.75rem;
}
.mentoring-explain-light{
    color:#181818;
    font-size:0.875rem;
    font-weight: 400;
    letter-spacing: 0.01313rem;
}
.mentoring-field-category-container{
    display:flex;
    align-items: flex-start;
    gap:0.625rem;
    padding-top:0.625rem;
    padding-bottom: 0.625rem;
}
.mentoring-field-category{
    display:flex;
    padding: 0.5rem 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.mentoring-review-container{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.mentoring-review-title-review{
    display:flex;
    justify-content: space-between;
}
.mentoring-review-title-container{
    display:flex;
    gap:0.62rem;
}
.mentoring-review-title{
    color: #181818;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01125rem;
}
.mentoring-review-title-number{
    color: #181818;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -0.01125rem;
}
.mentoring-review-more{
    color:#181818;
    font-size:0.9375rem;
    font-weight: 500;
    letter-spacing: -0.00938rem;
}
.metoring-review-row-container{
    display:flex;
    gap:1rem;
}
.mentoring-review{
    cursor: pointer;
    width:10rem;
    height: 12.25rem;
    background-color: #FFF;
    border-radius: 0.625rem;
    border : 1px solid #D9D9D9;
    padding: 1.21rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.metoring-review-row-container{
    display: flex;
    gap:1.31rem;
}
.mentoring-review-nickname{
    color:#181818;
    font-size:0.875rem;
    font-weight: 500;
    letter-spacing: -0.01313rem;
}
.mentoring-review-text{
    color:#181818;
    font-size:0.75rem;
    font-weight: 400;
    letter-spacing: 0.01125rem;
}